---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}





  <div class="header">
<img src="/contest/img/imagen5.png" id="responsive-image"> 
</div>

  {%- if site.posts.size > 0 -%}

<br>
<div align="center"><font size="+2">
    <u>First edition: March - April 2019</u>
</font>
    <br><br><br><br>

    <font size="+2">
    <h1>Data visualization contest with R: first edition</h1>
  </font>
  </div>
  <a href="https://raw.githubusercontent.com/RUsersAsturias/contest/gh-pages/_data/datatest.csv"><img src="/contest/img/den.png"  title="Download" alt="download data button"></a>

    <br><br>
    <font size="+2">
      Call for entries for the first R users - Asturias data visualisation contest.
    </font>
    <br><br><br><br>
1.  Throughout <b> february 28 2019 data base will be made public</b> at <a href="https://rusersasturias.github.io/contest/"> https://rusersasturias.github.io/contest/ </a> and in the repository. Anybody will be able to participate sending a plot made with <a href="https://www.r-project.org/">R software.</a><br><br>
2.  <b>Submissions</b> will be made between <b> March 1 2019 and 23:59 h April 30 2019</b>, sending a mail to <b>grupousuariosrasturias@gmail.com</b> with the visualization or the url to it in the prefered format. Name and surname will be specified in the mail.<br><br>
3.  Jury will be formed by two assistant professors of the <i>London School of Hygiene & Tropical Medicine</i> and an epidemiologist from <i>Conselleria de Sanitat Universal i Salut Pública de la Generalitat Valenciana</i>.<br><br>
4.  The jury will release the veredict on May 31 2019. Resolution will be made public <a href="https://rusersasturias.github.io/contest/"> in contest website,</a> and the winner will be contacted by mail.<br><br>
5.  Price will be <b>three hundred euros (300 €)</b>. <br><br>
6.  Contest's bases can be accesed <a href="http://localhost:4000/bases/2019/02/12/basesen.html"> in this website</a>.<br><br><br>
</p>


    <h2 class="post-list-heading">{{ page.list_title | default: "Bases del concurso" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
