---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}





  <div class="header">
<img src="/contest/img/imagen5.png" id="responsive-image"> 
</div>

  {%- if site.posts.size > 0 -%}

<br>
<div align="center"><font size="+2">
    <u>First edition: March - April 2019</u>
</font>
    <br><br><br><br>

    <font size="+2">
    <h1>Data visualization contest with R: first edition</h1>
  </font>
    <br><br><br><br>
<font size="+1", color = "red">
<b>ACTUALIZATION</b> (1 April 2019): There was a mistake in "hour" column by which there was not reflected if it was "am" or "pm", this is solved in current data, where hour is in 24h format.
 </font>




<br><br><br><br>
    <a href="https://raw.githubusercontent.com/RUsersAsturias/contest/gh-pages/_data/data w hour.csv"><img src="/contest/img/nubed.png" style="width:63px; height:61px" title="Download" alt="Descargar datos"> <font size = +2><b>  Data download in .csv</b></font></a>
    <br><br>
    <a href="https://raw.githubusercontent.com/RUsersAsturias/contest/gh-pages/_data/data w hour.RData"><img src="/contest/img/nubed.png" style="width:63px; height:61px" title="Download" alt="Descargar datos"> <font size = +2><b>  Data download in .RData</b></font></a>
    <br><br>




    <font size="+2">
      Call for entries for the first R users Asturias data visualisation contest.
    </font>
    <br><br><br><br><br><br><br>
</div>

<font size="+3">
  About the data:
</font>
<br><br>
    <font size="+1">
Data has been obtained from the <a href="https://transparencia.gijon.es/"> transparency web of Gijón's city</a>. Original data can be accesed <a href="https://transparencia.gijon.es/search/risp_dataset/page/1808-catalogo-de-datos?utf8=%E2%9C%93&search=multas&search_sector=&search_format=&commit=Buscar&authenticity_token=eG8xbUDgovDWUz9vhGxCJ9JN3eeBO58vLsQ%2B6wtGxvk%3D"> in its data catalog. </a> <br>
Data to be used in the contest is a subset of the fines register from years 2015 to 2017 that has been unified in a single file, which can be downloaded in RData or CSV format. <br>
In this data it can be found the date and hour of the fine, motive, place, fee, discount perceived (if any), speed and limit speed, and, for some cases, exact coordinates of the fine.
    </font>

    <br><br><br><br><br><br><br><br><br><br><br>

    <font size="+3">
  About the contest:
</font><br><br>

1.  During <b> February 28<sup>th</sup>, 2019, the database base will be made publicly available</b> at <a href="https://rusersasturias.github.io/contest/"> https://rusersasturias.github.io/contest/ </a> and in the repository. Anybody will be able to participate sending a plot made with <a href="https://www.r-project.org/">R software.</a><br><br>
2.  <b>Project presentation</b> will take place between <b> March 1<sup>st</sup>, 2019 and 11:59 PM on April 30<sup>th</sup>, 2019</b>, sending an e-mail to <b>grupousuariosrasturias@gmail.com</b> with the visualization or the url to it in the prefered format. Name and surname will be specified in the e-mail.<br><br>
3.  This edition's jury is comprised of two assistant professors of the <i>London School of Hygiene & Tropical Medicine</i> and an epidemiologist of the <i>Conselleria de Sanitat Universal i Salut Pública de la Generalitat Valenciana</i>.<br><br>
4.  The jury will issue its <b>opinion on the 31<sup>st</sup> of May, 2019</b>. The declaration will be made public <a href="https://rusersasturias.github.io/contest/"> on the site of the contest,</a> and the winner will be notified by e-mail.<br><br>
5.  The price amount is <b>three hundred euros (300 €)</b>. <br><br>
6.  Contest's bases can be accesed <a href="https://rusersasturias.github.io/contest/bases/2019/02/12/basesen.html"> in this website</a>.<br><br><br>
</p>


    <h2 class="post-list-heading"><font size = "+3">{{ page.list_title | default: "Rules of the contest" }}</font></h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
